{% extends "base.html" %}
{% block content %}

<h3>Exams for {{ subject.name }} ({{ school_class.name }} {{ school_class.stream }})</h3>

{% if exams %}
  <ul class="list-group">
    {% for exam in exams %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ exam.name }}
        <a href="{% url 'academics:enter_marks' exam.id %}" class="btn btn-sm btn-primary">
          Enter Marks
        </a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No exams assigned for this subject.</p>
{% endif %}

{% endblock %}
