{% extends "accounts/base.html" %}
{% load static %}

{% block title %}Login | SmartHub{% endblock %}

{% block content %}
<div class="container min-vh-100 d-flex align-items-center justify-content-center">
    <div class="row justify-content-center w-100">

        <!-- LOGIN -->
        <div class="col-md-5">
            <div class="card shadow p-4">
                <h3 class="text-center mb-4">Login</h3>

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}

                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <input type="hidden" name="login_submit">

                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" name="username" required class="form-control">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" name="password" required class="form-control">
                    </div>

                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </form>
            </div>
        </div>

      
       <div class="col-md-5 ms-md-4 mt-4 mt-md-0">
    <div class="card shadow p-4">
        <h3 class="text-center mb-4">Register</h3>

        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            {{ register_form.as_p }}
            <button type="submit" class="btn btn-success w-100">
                Create Account
            </button>
        </form>
    </div>
</div>


    </div>
</div>
{% endblock %}
